@charset "utf-8";

*{
    margin: 0px;
    padding: 0px;
}

body{
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.938), rgba(4, 4, 141, 0.877));
}

main{
    background-color: rgb(151, 151, 151);
    min-width: 400px;
    max-width: 800px;
    margin: auto;
    padding: 20px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.445);
}

h1{
    padding: 10px;
}
